body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin: 0px;
    height: 100%;
    background-color: rgb(255, 250, 241);
}

.main-container {
    max-width: 1024px;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

h1,
h2,
h3 {
    color: goldenrod;
    margin-bottom: 5px;
}
p {
    margin: 0px;
    font-size: 18px;
}

b {
    color: goldenrod;
    margin-right: 5px;
}

.flex-containre {
    display: flex;
}

.contacts {
    justify-content: space-around;
    margin-bottom: 35px;
}

.photo img {
    width: 320px;
    height: 420px;
}

.contacts-info {
    padding-right: 200px;
}

.contacts-info ul {
    list-style: none;
}
.about {
    justify-content: space-around;
}

.info {
    width: 60%;
}

.about-skills ul {
    padding-left: 15px;
    margin: 0px;
}
